* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

a {
    color: #fff;
    text-transform: uppercase;
}

#topbar a:hover {
    text-decoration: none;
    color: #dd1c22;
}

#topbar {
    background-color: #222222;
    min-height: 30px;
}

#topbar .container {
    color: #fff;
    justify-content: space-between;
    height: 100%;
}

.topbar-child {
    align-items: center;
    margin-bottom: 0;
    max-height: 100%;
    line-height: 2.4;
    font-size: 0.8em;
}

.topbar-child li {
    margin: 0 8px;
}

ul.topbar-child {
    justify-content: flex-start;
    list-style: none;
}

.topbar-child.topbar-left {
    margin-right: auto;
}

.topbar-child.topbar-right {
    margin-left: auto;
}

.topbar-child.topbar-right {
    justify-content: space-between;
}

.social-icons a {
    margin: 0 0.2em;
    transition: color 1s, opacity .3s;
}

#topbar .social-icons a:hover {
    opacity: 0.7;
    color: #fff;
}


/* header-nav */

.header-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: jumpDown 0.3s;
    box-shadow: 0 0 9px 0px #000;
}

@keyframes jumpDown {
    from {
        opacity: 0;
        transform: translateY(-100%)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.header-nav {
    background-color: #000;
    min-height: 70px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition: 0.5s;
}

.header-nav .logo img {
    height: 100%;
    padding: 8px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    height: 100%;
    list-style: none;
}

nav>ul>li {
    margin: 0 16px;
    word-spacing: 0.2px;
    height: 100%;
    position: relative;
    line-height: 4;
}

nav ul li a {
    position: relative;
    opacity: 0.8;
    font-weight: 500;
}

li ul.menu-child {
    position: absolute;
    background-color: #fff;
    top: 80%;
    left: 0;
    flex-direction: column;
    min-width: 250px;
    z-index: 1;
    height: auto;
    text-align: left;
    display: none;
    box-shadow: 0 0 10px -5px #000;
    border-radius: 4px;
    transition: 0.4s;
}

nav>ul>li>.menu-child>li {
    padding: 4px 16px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    line-height: 1.6;
}

nav>ul>li>.menu-child>li>a {
    color: #000;
    opacity: 0.8;
    font-size: smaller;
}

nav>ul>li>.menu-child>li:hover {
    background-color: #ccc;
}

nav>ul>li:hover .menu-child {
    display: flex;
    animation: appear .4s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav>ul>li>.menu-child>li:hover a {
    opacity: 1;
    text-decoration: none;
}

nav>ul>li>a::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dd1c22;
    bottom: -4px;
    opacity: 0;
}

nav>ul>li:hover a {
    opacity: 1;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s
}

nav>ul>li:hover a::before {
    opacity: 1;
    transition: opacity 0.5s
}


/* slide */

.carousel-caption {
    position: absolute;
    bottom: 120px;
    left: 120px;
    text-align: left;
    z-index: 100;
}

.carousel-caption div a {
    padding: 4px 16px;
    width: 100%;
    height: 100%;
}

.carousel-caption div:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.carousel-caption div:hover a {
    cursor: pointer;
    text-decoration: none;
}

.carousel-caption div:first-child {
    background-color: #fff;
    padding: 4px 16px;
    width: 160px;
    height: 30px;
    text-align: center;
}

.carousel-caption div:first-child a {
    color: #000;
}

.carousel-caption p {
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 700;
}

.carousel-caption div:last-child {
    background-color: #ED1C24;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 1.2em;
    width: 180px;
}

.carousel-caption div:last-child:hover a {
    color: #fff;
}


/* feature products */

.fearured-products {
    margin-top: 24px;
}

.fearured-products h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    margin: 16px 0;
}

.fearured-products h2::before {
    content: " ";
    height: 2px;
    width: 50px;
    background-color: #ED1C24;
    position: absolute;
    bottom: -8px;
}

.fearured-products .costume-type ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0 24%;
}

.fearured-products .costume-type ul a {
    color: rgb(153, 153, 153);
    font-weight: bold;
    position: relative;
}

.fearured-products .costume-type ul a::before {
    content: " ";
    width: 100%;
    height: 3px;
    background-color: rgb(153, 153, 153);
    position: absolute;
    bottom: -8px;
    border-radius: 1px;
}

.fearured-products .costume-type ul li:hover a::before {
    background-color: #000;
    transition: background-color 0.3s;
}

.fearured-products .costume-type ul a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s;
}

.costume-type .products {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
}

.costume-type .products .product {
    min-width: 200px;
    box-shadow: 0 0 16px -4px #000;
    margin: 0 8px;
}

.costume-type .products .product .product-content {
    padding: 0 15px;
    text-transform: uppercase;
}

.product-content p:last-child {
    font-weight: bold;
}

.costume-type .products .product img {
    width: 100%;
    height: 160px;
}


/* more products */

.more-products .back-banner {
    position: relative;
    overflow: hidden;
}

.more-products .back-banner-child {
    overflow: hidden;
}

.more-products .back-banner img {
    width: 100%;
}

.more-products a {
    position: absolute;
    top: 24px;
    font-size: 1.6rem;
    left: 24px;
    font-weight: bold;
}

.more-products a:hover {
    text-decoration: none;
    color: #fff;
}

.more-products a::before {
    content: " ";
    background-color: #fff;
    height: 3px;
    width: 50px;
    position: absolute;
    top: 36px;
    border-radius: 2px;
}

.row.banner-column {
    flex-direction: column;
    align-content: space-around;
}

.back-banner img {
    transition: all 1s ease;
}

.back-banner-child img {
    transition: all 1s ease;
}

.back-child:hover img,
.back:hover img {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}


/* banner */

.banner {
    position: relative;
    color: #fff;
}

.banner img {
    width: 100%;
}

.banner .banner-content {
    position: absolute;
    top: 75px;
    left: 178px;
}

.banner-content h3 {
    position: relative;
}

.banner-content h3::before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #ED1C24;
    position: absolute;
    bottom: -4px;
    border-radius: 2px;
    ;
}

.banner-content h1 {
    font-size: 3.1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 40px;
}

.banner-content p {
    letter-spacing: -1px;
    line-height: 20px;
}

.banner-content button {
    background-color: #dd1c22;
    color: #fff;
    border: none;
    outline: none;
    padding: 4px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.banner-content button:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}


/* news */

.news {
    margin-top: 36px;
}

.news h3 {
    position: relative;
    text-transform: uppercase;
}

.news h3::before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #ED1C24;
    position: absolute;
    bottom: -8px;
}

.news .row {
    margin-top: 36px;
}

.avatar img {
    width: 100%;
    height: 214px;
}

.avatar {
    margin-left: -15px;
    margin-right: -15px;
}

.news .row p {
    overflow: hidden;
    max-height: 100px;
}

.news .row .col {
    box-shadow: 0 0 14px -6px;
    margin: 0 15px;
}

.news h4 {
    text-transform: uppercase;
    font-size: medium;
    font-weight: 600;
}

.news .news-content {
    padding: 12px 16px 36px;
}

.news-content p a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    text-transform: none;
}

.news-content p:hover a {
    color: #dd1c22;
    text-decoration: none;
}

.news-content h4 {
    position: relative;
}

.news-content h4::before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #626262;
    opacity: 0.8;
    position: absolute;
    bottom: -8px;
}

.news-content button {
    border: none;
    outline: none;
    color: #000;
    opacity: 0.7;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
}

.news-content button:hover {
    opacity: 0.9;
    transition: opacity 0.3s;
}


/* achievements */

.achievement {
    margin-top: 24px;
    text-align: center;
    position: relative;
}

.achievement .row {
    position: absolute;
    top: 0px;
    left: 50px;
    color: #fff;
}

.achievement .row .col {
    margin: 25px 108px;
}

.achievement .line {
    width: 50px;
    height: 3px;
    background-color: #ED1C24;
    margin: auto;
    border-radius: 3px;
    position: absolute;
    bottom: 82px;
    left: 75px;
}

.achievement .number {
    position: relative;
    font-size: 4em;
    font-weight: 500;
}

.achievement .col p:last-child {
    font-weight: bold;
}


/* companies */

.companies {
    display: flex;
    flex-direction: space-around;
    align-items: center;
    padding: 36px 8px;
}

.companies .company {
    margin: 0 48px;
    color: #000;
}

.companies .company a {
    margin: 0 48px;
    color: #000;
}

.companies .company:hover {}

.companies .company img {
    width: 100%;
}


/* contact */

.contact {
    background-color: #222222;
    padding: 36px;
}

.contact .contact-logo {
    max-width: 120px;
    margin-left: 15px;
}

.contact .contact-logo img {
    width: 100%;
}

.contact .col ul {
    color: #fff;
    list-style: none;
}

.contact .col ul h4 {
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: 15px;
}

.contact .col ul li {
    font-size: 0.8rem;
    padding: 12px;
}

.contact .col ul li p {
    opacity: 0.7;
}

.contact .col ul li.sent-mail {
    opacity: 1;
}

.contact .col ul li input {
    min-width: 196px;
    outline: none;
    border: none;
}

.contact .col ul li input:focus {
    box-shadow: 0 0 6px 1px #fff;
}

.contact .col ul li a {
    opacity: 0.7;
}

.contact .col ul li:hover a {
    opacity: 1;
    color: #fff;
    text-decoration: none;
}

.sent-mail input {
    outline: none;
    height: 32px;
    min-width: 100px;
    position: relative;
}

.sent-mail button {
    outline: none;
    border: none;
    background-color: #dd1c22;
    width: 42px;
    height: 32px;
    position: absolute;
    top: 42px;
    cursor: pointer;
}

.sent-mail button:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.contact li i {
    padding: 0 8px;
}


/* footer */

footer {
    min-height: 40px;
    background-color: #111111;
    display: flex;
    align-items: center;
}

footer div {
    margin: auto;
    color: rgb(156, 156, 156);
}

footer>div a {
    opacity: 0.7;
}

footer div span {
    color: rgb(255, 255, 255);
}

footer>div a:hover {
    opacity: 1;
    color: #fff;
    text-decoration: none;
}